<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    클라이언트 페이지 게시글 목록
    <br />
    <% posts.forEach(function(post) { %>
    <div>
      <a href="/posts/<%= post.postId %>">
        <h2><%= post.title %></h2>
      </a>
    </div>
    <% }); %> <% if (prev) { %>
    <a href="/posts<%= prev %>">이전</a>
    <% } %> <% if (next) { %>
    <div id="pagination-list"></div>
    <a href="/posts<%= next %>">다음</a>
    <% } %>
    <a href="/posts/write">글쓰기</a>
    <script>
      // 페이지 최대 노출 개수
      const pageCount = 10;
      /** 페이지 노출할 DOM 셀렉 */
      const $paginationList = document.getElementById("pagination-list");

      const tot = "<%= count %>";
      const lmt = "<%= limit %>";
      const ofst = "<%= offset %>";

      // 위 변수들 변환
      const count = parseInt(tot);
      const limit = parseInt(lmt);
      const offset = parseInt(ofst);

      // 아이템의 개수를 갖고, 전체 페이지 개수를 계산
      const totalPages = count < limit ? 1 : Math.ceil(count / limit);

      // 현재 페이지를 계산하는법. (offset과 limit을 활용해서) 현재 페이지 계산
      const currentPage = Math.ceil(offset / limit) + 1;

      // 이전 페이지 (현재페이지가 1이면, 없음)
      // const prevPageNo =
      //   currentPage - pageCount <= 0 ? 1 : currentPage - pageCount;

      // // 다음 페이지 계산 (현재 페이지가 5고 페이지가 10까지 노출되어있으면, 11페이지로 넘기는거에여.)
      // const nextPageNo =
      //   currentPage + pageCount > totalPages
      //     ? totalPages
      //     : currentPage + pageCount;

      let pageNumbers = [];
      let startPageNo = currentPage - Math.floor(pageCount / 2);

      if (startPageNo < 1) {
        startPageNo = 1;
      }
      let endPageNo = startPageNo + pageCount - 1;

      if (endPageNo > totalPages) {
        endPageNo = totalPages;
        startPageNo = Math.max(1, endPageNo - pageCount + 1);
      }

      for (let i = startPageNo; i <= endPageNo; i++) {
        pageNumbers.push(i);
      }

      if (pageNumbers.length !== 0) {
        pageNumbers.forEach((pageNo) => {
          const $a = document.createElement("a");
          $a.href = `/posts?offset=${(pageNo - 1) * limit}&limit=${limit}`;
          $a.textContent = pageNo;
          $paginationList.append($a);
        });
      }
    </script>
  </body>
</html>
